body{
    background: white;
    color: #222222;
    width: 600px;
    margin: auto;
}

p{
    font-family: sans-serif;
    line-height: 1.6;
}

article + article{
    margin-top: 3rem;
    border-top: 1px solid #c5c5c5;
}